In [1]:
import nasapy
import pandas as pd
import numpy as np
# import folium
# from folium.plugins import HeatMap
import matplotlib.pyplot as plt
import seaborn as sns

# Import API key
from api_keys import nasa_key

%matplotlib inline

In [2]:
# Import cities file as DataFrame
TwoCenturies_df = pd.read_csv("cneos_closeapproach_data.csv", parse_dates=['Date']).dropna()

TwoCenturies_df['Estimated Diameter (min)'] = TwoCenturies_df['Estimated Diameter (min)'].replace({' km': '*1e3', ' m': '*1'}, regex=True).map(pd.eval).astype(int)
TwoCenturies_df['Estimated Diameter (max)'] = TwoCenturies_df['Estimated Diameter (max)'].replace({' km': '*1e3', ' m': '*1'}, regex=True).map(pd.eval).astype(int)
TwoCenturies_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.4,0.01644,4.27,4.23,25.1,25,57,bK09B02W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24980,(2019 WT1),2200-Nov-21 01:44 ± 4_04:29,2200-11-21,01:44,9.60,0.02466,6.81,0.01749,9.08,9.06,26.9,11,25,bK19W01T
24981,413577 (2005 UL5),2200-Nov-23 02:16 ± 00:05,2200-11-23,02:16,5.84,0.01499,5.78,0.01486,18.16,18.15,20.3,230,520,a0413577
24982,(2014 WT202),2200-Nov-23 03:36 ± 00:04,2200-11-23,03:36,16.33,0.04197,16.23,0.04170,12.00,11.99,21.1,160,360,bK14WK2T
24983,163696 (2003 EB50),2200-Nov-26 06:30 ± < 00:01,2200-11-26,06:30,18.07,0.04643,18.07,0.04643,21.34,21.34,16.5,1300,3000,a0163696
24984,(2018 LM2),2200-Nov-29 17:17 ± 8_23:04,2200-11-29,17:17,14.43,0.03708,12.59,0.03236,7.91,7.90,24.4,35,78,bK18L02M

In [3]:
CleanTwoCenturies_df = TwoCenturies_df
CleanTwoCenturies_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.4,0.01644,4.27,4.23,25.1,25,57,bK09B02W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24980,(2019 WT1),2200-Nov-21 01:44 ± 4_04:29,2200-11-21,01:44,9.60,0.02466,6.81,0.01749,9.08,9.06,26.9,11,25,bK19W01T
24981,413577 (2005 UL5),2200-Nov-23 02:16 ± 00:05,2200-11-23,02:16,5.84,0.01499,5.78,0.01486,18.16,18.15,20.3,230,520,a0413577
24982,(2014 WT202),2200-Nov-23 03:36 ± 00:04,2200-11-23,03:36,16.33,0.04197,16.23,0.04170,12.00,11.99,21.1,160,360,bK14WK2T
24983,163696 (2003 EB50),2200-Nov-26 06:30 ± < 00:01,2200-11-26,06:30,18.07,0.04643,18.07,0.04643,21.34,21.34,16.5,1300,3000,a0163696
24984,(2018 LM2),2200-Nov-29 17:17 ± 8_23:04,2200-11-29,17:17,14.43,0.03708,12.59,0.03236,7.91,7.90,24.4,35,78,bK18L02M

In [4]:
Year_df = TwoCenturies_df.groupby(pd.Grouper(key='Date',freq='Y')).size()
Year_df

Date
1900-12-31    54
1901-12-31    49
1902-12-31    54
1903-12-31    43
1904-12-31    50
              ..
2196-12-31    39
2197-12-31    30
2198-12-31    36
2199-12-31    41
2200-12-31    23
Freq: A-DEC, Length: 301, dtype: int64

In [5]:
Objects_df = CleanTwoCenturies_df.groupby("Object").size()
Objects_df

Object
(1979 XB)                   1
(1983 LC)                   3
(1990 UN)                   1
(1991 BA)                   1
(1991 GO)                   5
                           ..
90403 (2003 YE45)           5
90416 (2003 YK118)          1
9856 (1991 EE)              1
99248 (2001 KY66)           1
99942 Apophis (2004 MN4)    6
Length: 9545, dtype: int64

In [9]:
CleanTwoCenturies_df['Year'] = pd.DatetimeIndex(TwoCenturies_df['Date']).year
CleanTwoCenturies_df['Month'] = pd.DatetimeIndex(CleanTwoCenturies_df['Date']).month
CleanTwoCenturies_df['Day'] = pd.DatetimeIndex(CleanTwoCenturies_df['Date']).day
CleanTwoCenturies_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName,Year,Month,Day
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352,1900,1,4
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C,1900,1,11
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660,1900,1,29
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W,1900,2,4
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.4,0.01644,4.27,4.23,25.1,25,57,bK09B02W,1900,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24980,(2019 WT1),2200-Nov-21 01:44 ± 4_04:29,2200-11-21,01:44,9.60,0.02466,6.81,0.01749,9.08,9.06,26.9,11,25,bK19W01T,2200,11,21
24981,413577 (2005 UL5),2200-Nov-23 02:16 ± 00:05,2200-11-23,02:16,5.84,0.01499,5.78,0.01486,18.16,18.15,20.3,230,520,a0413577,2200,11,23
24982,(2014 WT202),2200-Nov-23 03:36 ± 00:04,2200-11-23,03:36,16.33,0.04197,16.23,0.04170,12.00,11.99,21.1,160,360,bK14WK2T,2200,11,23
24983,163696 (2003 EB50),2200-Nov-26 06:30 ± < 00:01,2200-11-26,06:30,18.07,0.04643,18.07,0.04643,21.34,21.34,16.5,1300,3000,a0163696,2200,11,26
24984,(2018 LM2),2200-Nov-29 17:17 ± 8_23:04,2200-11-29,17:17,14.43,0.03708,12.59,0.03236,7.91,7.90,24.4,35,78,bK18L02M,2200,11,29

In [13]:
# Year_df = CleanTwoCenturies_df.groupby("Year").count()
# Year_df.nunique()
CleanTwoCenturies_df.dtypes
# CleanTwoCenturies_df['CA Distance Minimum (LD) '] = CleanTwoCenturies_df['CA Distance Minimum (LD) '].convert_objects(convert_numeric=True)
CleanTwoCenturies_df['CA Distance Minimum (LD) '] = CleanTwoCenturies_df['CA Distance Minimum (LD) '].str.replace('>', '')
CleanTwoCenturies_df['CA Distance Minimum (LD) '] = CleanTwoCenturies_df['CA Distance Minimum (LD) '].astype('float64')

In [14]:
CleanTwoCenturies_df.head()
CleanTwoCenturies_df.columns

Index(['Object', 'Close-Approach (CA) Date', 'Date', 'Time',
       'CA Distance Nominal (LD)', 'CA Distance Nominal (au)',
       'CA Distance Minimum (LD) ', 'CA Distance Minimum (au) ',
       'V relative (km/s)', 'V infinity (km/s)', 'H (mag)',
       'Estimated Diameter (min)', 'Estimated Diameter (max)', 'ObjectName',
       'Year', 'Month', 'Day'],
      dtype='object')

In [ ]:
# CleanTwoCenturies_df['Estimated Diameter (min)'] = CleanTwoCenturies_df['Estimated Diameter (min)'].str.replace('m', '')
# CleanTwoCenturies_df['Estimated Diameter (max)'] = CleanTwoCenturies_df['Estimated Diameter (max)'].str.replace('m', '')

# pd.to_numeric(CleanTwoCenturies_df['Estimated Diameter (max)'])

# CleanTwoCenturies_df

In [15]:

# agg(regation)
Summary_df = CleanTwoCenturies_df.groupby('Year')\
\
.agg({
    'Object':'size',
    'CA Distance Nominal (LD)':['sum','mean','max','min','std', 'sem'],
    'CA Distance Nominal (au)':['sum','mean','max','min','std', 'sem'],
    'CA Distance Minimum (LD) ':['sum','mean','max','min','std', 'sem'],
    'CA Distance Minimum (au) ':['sum','mean','max','min','std', 'sem'],
    'V relative (km/s)':['sum','mean','max','min','std', 'sem'],
    'V infinity (km/s)':['sum','mean','max','min','std', 'sem'],
    'H (mag)':['sum','mean','max','min','std', 'sem'],
    'Estimated Diameter (min)':['sum','mean','max','min','std', 'sem'],
    'Estimated Diameter (max)':['sum','mean','max','min','std', 'sem'],
    'ObjectName':['size']    
})
Summary_df

     Object CA Distance Nominal (LD)                                    \
       size                      sum       mean    max   min       std
Year
1900     54                   682.32  12.635556  19.41  3.75  4.416254
1901     49                   607.21  12.392041  19.44  4.09  4.509091
1902     54                   704.26  13.041852  19.42  1.84  4.600830
1903     43                   532.41  12.381628  18.96  2.96  4.668716
1904     50                   680.53  13.610600  19.37  2.30  4.604231
...     ...                      ...        ...    ...   ...       ...
2196     39                   444.03  11.385385  18.92  2.04  4.816215
2197     30                   373.33  12.444333  19.18  1.94  5.653097
2198     36                   424.24  11.784444  18.77  1.97  4.765526
2199     41                   517.71  12.627073  18.98  1.11  4.975735
2200     23                   288.26  12.533043  19.28  3.16  4.607173

               CA Distance Nominal (au)                     ...  \
           sem                      sum      mean      max  ...
Year                                                        ...
1900  0.600976                  1.75319  0.032466  0.04987  ...
1901  0.644156                  1.56032  0.031843  0.04996  ...
1902  0.626094                  1.80965  0.033512  0.04990  ...
1903  0.711972                  1.36801  0.031814  0.04871  ...
1904  0.651137                  1.74864  0.034973  0.04978  ...
...        ...                      ...       ...      ...  ...
2196  0.771212                  1.14089  0.029254  0.04862  ...
2197  1.032110                  0.95932  0.031977  0.04928  ...
2198  0.794254                  1.09006  0.030279  0.04824  ...
2199  0.777079                  1.33031  0.032447  0.04876  ...
2200  0.960662                  0.74073  0.032206  0.04953  ...

     Estimated Diameter (min)                        Estimated Diameter (max)  \
                          min         std        sem                      sum
Year
1900                        5  131.551274  17.901861                    15435
1901                        8  397.585149  56.797878                    25587
1902                        5  142.525392  19.395249                    12681
1903                        5  229.242880  34.959211                    14038
1904                        6  166.845944  23.595580                    15168
...                       ...         ...        ...                      ...
2196                       12  192.370439  30.803923                    15407
2197                       11  255.131465  46.580419                    10269
2198                       16  209.253109  34.875518                    15226
2199                       15  286.100025  44.681317                    15165
2200                       11  298.884130  62.321649                     9267

                                                   ObjectName
            mean   max min         std         sem       size
Year
1900  285.833333  1200  12  291.314182   39.642839         54
1901  522.183673  5200  19  897.659194  128.237028         49
1902  234.833333  1600  12  313.933940   42.720998         54
1903  326.465116  2600  12  504.596177   76.950196         43
1904  303.360000  1400  14  374.363719   52.943025         50
...          ...   ...  ..         ...         ...        ...
2196  395.051282  1700  27  424.966869   68.049160         39
2197  342.300000  3000  25  582.678663  106.382082         30
2198  422.944444  1900  36  469.642049   78.273675         36
2199  369.878049  3900  33  620.518138   96.908652         41
2200  402.913043  3000  25  684.908548  142.813305         23

[301 rows x 56 columns]

In [16]:

# agg(regation)
Year_df = CleanTwoCenturies_df.groupby('Year').agg({'Object':'size'})
Year_df

      Object
Year
1900      54
1901      49
1902      54
1903      43
1904      50
...      ...
2196      39
2197      30
2198      36
2199      41
2200      23

[301 rows x 1 columns]

In [18]:
Year_df = Year_df.reset_index()
Year_df
# Year_df = Year_df.reset_index()


x = Year_df['Year']
y = Year_df['Object']
y

0      54
1      49
2      54
3      43
4      50
       ..
296    39
297    30
298    36
299    41
300    23
Name: Object, Length: 301, dtype: int64

In [16]:
Year_df.plot(kind='bar')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [21]:
%matplotlib widget

# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

# Set x axis and tick locations
# Year_df = Year_df.reset_index()


# x = Year_df['Year']
# y = Year_df['Object']
# x_axis = np.arange(len(Year_df))
x_axis = np.arange(1900, 2200, step=10)
# tick_locations = [value for value in x_axis]
# tick_locations = 2200
tick_locations2 = np.arange(1900, 2210, step=10)

# Create a list indicating where to write x labels and set figure size to adjust for space
plt.figure(figsize=(15,10))
plt.bar(y, x, color='r', alpha=0.5, align="center")
plt.xticks(tick_locations2, Year_df["Object"], rotation="vertical", color='blue')
plt.xticks(np.arange(min(x), max(x)+1, 2.0))

# Set x and y limits
plt.xlim(-2, len(x_axis)+2)
plt.ylim(0, max(Year_df["Object"])+10)

# Set a Title and labels
plt.title("Asteroid Count vs Year")
plt.xlabel("Year", color='red')
plt.ylabel("Asteroid Count", color='red')
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [82]:
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

x = [dt.datetime(2009), dt.datetime(2010), 
     dt.datetime(2011), dt.datetime(2012)]
y = [1, 3, 2, 5]

fig, ax = plt.subplots()
ax.plot_date(x, y, linestyle='--')



ax.annotate('Test', (mdates.date2num(x[1]), y[1]), xytext=(15, 15), 
            textcoords='offset points', color='red', arrowprops=dict(arrowstyle='-|>'))

fig.autofmt_xdate()
plt.show()

TypeError: function missing required argument 'month' (pos 2)

In [50]:
Year_df["Year"]

KeyError: 'Year'

In [ ]:
#import dependencies:
import matplotlib.pyplot as plt
import datetime as dt

#Set X range here:
left = dt.date(1900)  #Makes it easy to quickly change the range
right = dt.date(2200)
    
x = Year_df["Year"]
y = Year_df["Object"]

    #Create scatter plot of Postitive Cases
plt.scatter(x, y, c="blue", edgecolor="black", linewidths=1, marker = "o", alpha = 0.8, label="Total Positive Tested")
plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%m-%d')) #Allows me to format the date into months & days
plt.gca().xaxis.set_major_locator(mdates.DayLocator(interval=30)) #Allows me to change the tick interval
plt.gca().xaxis.set_tick_params(rotation = 30)  #puts the x-axis labels on an angle
plt.gca().set_xbound(left, right)  #changes the range of the x-axis
    
plt.show()

In [ ]:
# Using plotly.express
import plotly.express as px

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv')

fig = px.line(df, x='Date', y='AAPL.High', range_x=['2016-07-01','2016-12-31'])
fig.show()

In [ ]:
?.set_major_locator

In [ ]:
# agg(regation)
df.groupby('Object')\
\
.agg({
    'Order Id':'size',
    'Val':['sum','mean'],
    'Sale':['sum','mean']
})

In [ ]:
Year_df = CleanTwoCenturies_df.groupby("Year")
YearMonth_df = CleanTwoCenturies_df.groupby(["Year", "Month"])
CountYear = Year_df["Object"].nunique()

CountYear.head(50)

In [ ]:
datafame=dataframe.resample('10AS').sum()

In [ ]:
X =  CountYear[0].tolist()
Y = CountYear[1].tolist()

# fig, ax = plt.subplots()
plt.bar(X,len(X))

plt.show()
Y

In [ ]:
graph = CountYear.plot(kind ="bar", size=(10,10))
# tight_layout()

In [ ]:
Historical_df = CleanTwoCenturies_df.loc[(CleanTwoCenturies_df["Year"] <2020)]
Future_df = CleanTwoCenturies_df.loc[(CleanTwoCenturies_df["Year"] >2020)]
Historical_df
Future_df