In [1]:
import nasapy
import pandas as pd
import numpy as np
# import folium
# from folium.plugins import HeatMap
import matplotlib.pyplot as plt
import seaborn as sns

# Import API key
from api_keys import nasa_key

%matplotlib inline

In [2]:
# Import cities file as DataFrame
TwoCenturies_df = pd.read_csv("cneos_closeapproach_data.csv", parse_dates=['Date']).dropna()

TwoCenturies_df['Estimated Diameter (min)'] = TwoCenturies_df['Estimated Diameter (min)'].replace({' km': '*1e3', ' m': '*1'}, regex=True).map(pd.eval).astype(int)
TwoCenturies_df['Estimated Diameter (max)'] = TwoCenturies_df['Estimated Diameter (max)'].replace({' km': '*1e3', ' m': '*1'}, regex=True).map(pd.eval).astype(int)
TwoCenturies_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.4,0.01644,4.27,4.23,25.1,25,57,bK09B02W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24980,(2019 WT1),2200-Nov-21 01:44 ± 4_04:29,2200-11-21,01:44,9.60,0.02466,6.81,0.01749,9.08,9.06,26.9,11,25,bK19W01T
24981,413577 (2005 UL5),2200-Nov-23 02:16 ± 00:05,2200-11-23,02:16,5.84,0.01499,5.78,0.01486,18.16,18.15,20.3,230,520,a0413577
24982,(2014 WT202),2200-Nov-23 03:36 ± 00:04,2200-11-23,03:36,16.33,0.04197,16.23,0.04170,12.00,11.99,21.1,160,360,bK14WK2T
24983,163696 (2003 EB50),2200-Nov-26 06:30 ± < 00:01,2200-11-26,06:30,18.07,0.04643,18.07,0.04643,21.34,21.34,16.5,1300,3000,a0163696
24984,(2018 LM2),2200-Nov-29 17:17 ± 8_23:04,2200-11-29,17:17,14.43,0.03708,12.59,0.03236,7.91,7.90,24.4,35,78,bK18L02M

In [3]:
CleanTwoCenturies_df = TwoCenturies_df
CleanTwoCenturies_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.4,0.01644,4.27,4.23,25.1,25,57,bK09B02W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24980,(2019 WT1),2200-Nov-21 01:44 ± 4_04:29,2200-11-21,01:44,9.60,0.02466,6.81,0.01749,9.08,9.06,26.9,11,25,bK19W01T
24981,413577 (2005 UL5),2200-Nov-23 02:16 ± 00:05,2200-11-23,02:16,5.84,0.01499,5.78,0.01486,18.16,18.15,20.3,230,520,a0413577
24982,(2014 WT202),2200-Nov-23 03:36 ± 00:04,2200-11-23,03:36,16.33,0.04197,16.23,0.04170,12.00,11.99,21.1,160,360,bK14WK2T
24983,163696 (2003 EB50),2200-Nov-26 06:30 ± < 00:01,2200-11-26,06:30,18.07,0.04643,18.07,0.04643,21.34,21.34,16.5,1300,3000,a0163696
24984,(2018 LM2),2200-Nov-29 17:17 ± 8_23:04,2200-11-29,17:17,14.43,0.03708,12.59,0.03236,7.91,7.90,24.4,35,78,bK18L02M

In [ ]:
# Year_df = TwoCenturies_df.groupby(pd.Grouper(key='Date',freq='Y')).size()
# Year_df

In [4]:
Objects_df = CleanTwoCenturies_df.groupby("Object").size()
len(Objects_df)

9545

In [5]:
CleanTwoCenturies_df['Year'] = pd.DatetimeIndex(TwoCenturies_df['Date']).year
CleanTwoCenturies_df['Month'] = pd.DatetimeIndex(CleanTwoCenturies_df['Date']).month
CleanTwoCenturies_df['Day'] = pd.DatetimeIndex(CleanTwoCenturies_df['Date']).day
CleanTwoCenturies_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName,Year,Month,Day
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352,1900,1,4
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C,1900,1,11
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660,1900,1,29
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W,1900,2,4
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.4,0.01644,4.27,4.23,25.1,25,57,bK09B02W,1900,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24980,(2019 WT1),2200-Nov-21 01:44 ± 4_04:29,2200-11-21,01:44,9.60,0.02466,6.81,0.01749,9.08,9.06,26.9,11,25,bK19W01T,2200,11,21
24981,413577 (2005 UL5),2200-Nov-23 02:16 ± 00:05,2200-11-23,02:16,5.84,0.01499,5.78,0.01486,18.16,18.15,20.3,230,520,a0413577,2200,11,23
24982,(2014 WT202),2200-Nov-23 03:36 ± 00:04,2200-11-23,03:36,16.33,0.04197,16.23,0.04170,12.00,11.99,21.1,160,360,bK14WK2T,2200,11,23
24983,163696 (2003 EB50),2200-Nov-26 06:30 ± < 00:01,2200-11-26,06:30,18.07,0.04643,18.07,0.04643,21.34,21.34,16.5,1300,3000,a0163696,2200,11,26
24984,(2018 LM2),2200-Nov-29 17:17 ± 8_23:04,2200-11-29,17:17,14.43,0.03708,12.59,0.03236,7.91,7.90,24.4,35,78,bK18L02M,2200,11,29

In [6]:
# Year_df = CleanTwoCenturies_df.groupby("Year").count()
# Year_df.nunique()
# CleanTwoCenturies_df.dtypes
# CleanTwoCenturies_df['CA Distance Minimum (LD) '] = CleanTwoCenturies_df['CA Distance Minimum (LD) '].convert_objects(convert_numeric=True)

# Need to clean up some non numerical characters >
CleanTwoCenturies_df['CA Distance Minimum (LD) '] = CleanTwoCenturies_df['CA Distance Minimum (LD) '].str.replace('>', '')
CleanTwoCenturies_df['CA Distance Minimum (LD) '] = CleanTwoCenturies_df['CA Distance Minimum (LD) '].astype('float64')

In [7]:
CleanTwoCenturies_df.head()
CleanTwoCenturies_df.columns

Index(['Object', 'Close-Approach (CA) Date', 'Date', 'Time',
       'CA Distance Nominal (LD)', 'CA Distance Nominal (au)',
       'CA Distance Minimum (LD) ', 'CA Distance Minimum (au) ',
       'V relative (km/s)', 'V infinity (km/s)', 'H (mag)',
       'Estimated Diameter (min)', 'Estimated Diameter (max)', 'ObjectName',
       'Year', 'Month', 'Day'],
      dtype='object')

In [8]:
# CleanTwoCenturies_df['Estimated Diameter (min)'] = CleanTwoCenturies_df['Estimated Diameter (min)'].str.replace('m', '')
# CleanTwoCenturies_df['Estimated Diameter (max)'] = CleanTwoCenturies_df['Estimated Diameter (max)'].str.replace('m', '')

# pd.to_numeric(CleanTwoCenturies_df['Estimated Diameter (max)'])

CleanTwoCenturies_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName,Year,Month,Day
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352,1900,1,4
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C,1900,1,11
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660,1900,1,29
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W,1900,2,4
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.40,0.01644,4.27,4.23,25.1,25,57,bK09B02W,1900,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24980,(2019 WT1),2200-Nov-21 01:44 ± 4_04:29,2200-11-21,01:44,9.60,0.02466,6.81,0.01749,9.08,9.06,26.9,11,25,bK19W01T,2200,11,21
24981,413577 (2005 UL5),2200-Nov-23 02:16 ± 00:05,2200-11-23,02:16,5.84,0.01499,5.78,0.01486,18.16,18.15,20.3,230,520,a0413577,2200,11,23
24982,(2014 WT202),2200-Nov-23 03:36 ± 00:04,2200-11-23,03:36,16.33,0.04197,16.23,0.04170,12.00,11.99,21.1,160,360,bK14WK2T,2200,11,23
24983,163696 (2003 EB50),2200-Nov-26 06:30 ± < 00:01,2200-11-26,06:30,18.07,0.04643,18.07,0.04643,21.34,21.34,16.5,1300,3000,a0163696,2200,11,26
24984,(2018 LM2),2200-Nov-29 17:17 ± 8_23:04,2200-11-29,17:17,14.43,0.03708,12.59,0.03236,7.91,7.90,24.4,35,78,bK18L02M,2200,11,29

In [9]:

# agg(regation)
Summary_df = CleanTwoCenturies_df.groupby('Year')\
\
.agg({
    'Object':'size',
    'CA Distance Nominal (LD)':['sum','mean','max','min','std', 'sem'],
    'CA Distance Nominal (au)':['sum','mean','max','min','std', 'sem'],
    'CA Distance Minimum (LD) ':['sum','mean','max','min','std', 'sem'],
    'CA Distance Minimum (au) ':['sum','mean','max','min','std', 'sem'],
    'V relative (km/s)':['sum','mean','max','min','std', 'sem'],
    'V infinity (km/s)':['sum','mean','max','min','std', 'sem'],
    'H (mag)':['sum','mean','max','min','std', 'sem'],
    'Estimated Diameter (min)':['sum','mean','max','min','std', 'sem'],
    'Estimated Diameter (max)':['sum','mean','max','min','std', 'sem'],
    'ObjectName':['size']    
})
Summary_df

     Object CA Distance Nominal (LD)                                    \
       size                      sum       mean    max   min       std
Year
1900     54                   682.32  12.635556  19.41  3.75  4.416254
1901     49                   607.21  12.392041  19.44  4.09  4.509091
1902     54                   704.26  13.041852  19.42  1.84  4.600830
1903     43                   532.41  12.381628  18.96  2.96  4.668716
1904     50                   680.53  13.610600  19.37  2.30  4.604231
...     ...                      ...        ...    ...   ...       ...
2196     39                   444.03  11.385385  18.92  2.04  4.816215
2197     30                   373.33  12.444333  19.18  1.94  5.653097
2198     36                   424.24  11.784444  18.77  1.97  4.765526
2199     41                   517.71  12.627073  18.98  1.11  4.975735
2200     23                   288.26  12.533043  19.28  3.16  4.607173

               CA Distance Nominal (au)                     ...  \
           sem                      sum      mean      max  ...
Year                                                        ...
1900  0.600976                  1.75319  0.032466  0.04987  ...
1901  0.644156                  1.56032  0.031843  0.04996  ...
1902  0.626094                  1.80965  0.033512  0.04990  ...
1903  0.711972                  1.36801  0.031814  0.04871  ...
1904  0.651137                  1.74864  0.034973  0.04978  ...
...        ...                      ...       ...      ...  ...
2196  0.771212                  1.14089  0.029254  0.04862  ...
2197  1.032110                  0.95932  0.031977  0.04928  ...
2198  0.794254                  1.09006  0.030279  0.04824  ...
2199  0.777079                  1.33031  0.032447  0.04876  ...
2200  0.960662                  0.74073  0.032206  0.04953  ...

     Estimated Diameter (min)                        Estimated Diameter (max)  \
                          min         std        sem                      sum
Year
1900                        5  131.551274  17.901861                    15435
1901                        8  397.585149  56.797878                    25587
1902                        5  142.525392  19.395249                    12681
1903                        5  229.242880  34.959211                    14038
1904                        6  166.845944  23.595580                    15168
...                       ...         ...        ...                      ...
2196                       12  192.370439  30.803923                    15407
2197                       11  255.131465  46.580419                    10269
2198                       16  209.253109  34.875518                    15226
2199                       15  286.100025  44.681317                    15165
2200                       11  298.884130  62.321649                     9267

                                                   ObjectName
            mean   max min         std         sem       size
Year
1900  285.833333  1200  12  291.314182   39.642839         54
1901  522.183673  5200  19  897.659194  128.237028         49
1902  234.833333  1600  12  313.933940   42.720998         54
1903  326.465116  2600  12  504.596177   76.950196         43
1904  303.360000  1400  14  374.363719   52.943025         50
...          ...   ...  ..         ...         ...        ...
2196  395.051282  1700  27  424.966869   68.049160         39
2197  342.300000  3000  25  582.678663  106.382082         30
2198  422.944444  1900  36  469.642049   78.273675         36
2199  369.878049  3900  33  620.518138   96.908652         41
2200  402.913043  3000  25  684.908548  142.813305         23

[301 rows x 56 columns]

In [10]:
Distance_df= CleanTwoCenturies_df.groupby('Year')['CA Distance Nominal (LD)'].agg(['count','mean','var', 'std', 'sum', 'sem']).reset_index()
MinDiameter_df= CleanTwoCenturies_df.groupby('Year')['Estimated Diameter (min)'].agg(['count','mean','var', 'std', 'sum', 'sem']).reset_index()
Vrelative_df= CleanTwoCenturies_df.groupby('Year')['V relative (km/s)'].agg(['count','mean','var', 'std', 'sum', 'sem']).reset_index()
Vinfinity_df= CleanTwoCenturies_df.groupby('Year')['V infinity (km/s)'].agg(['count','mean','var', 'std', 'sum', 'sem']).reset_index()

Distance_df

     Year  count       mean        var       std     sum       sem
0    1900     54  12.635556  19.503301  4.416254  682.32  0.600976
1    1901     49  12.392041  20.331900  4.509091  607.21  0.644156
2    1902     54  13.041852  21.167634  4.600830  704.26  0.626094
3    1903     43  12.381628  21.796904  4.668716  532.41  0.711972
4    1904     50  13.610600  21.198945  4.604231  680.53  0.651137
..    ...    ...        ...        ...       ...     ...       ...
296  2196     39  11.385385  23.195926  4.816215  444.03  0.771212
297  2197     30  12.444333  31.957501  5.653097  373.33  1.032110
298  2198     36  11.784444  22.710237  4.765526  424.24  0.794254
299  2199     41  12.627073  24.757936  4.975735  517.71  0.777079
300  2200     23  12.533043  21.226040  4.607173  288.26  0.960662

[301 rows x 7 columns]

In [11]:
Historical_distance_df = Distance_df.loc[(Distance_df["Year"] <2020)]
Historical_MinDiameter_df = MinDiameter_df.loc[(MinDiameter_df["Year"] <2020)]
Historical_Vrelative_df = Vrelative_df.loc[(Vrelative_df["Year"] <2020)]
Historical_Vinfinity_df = Vinfinity_df.loc[(Vinfinity_df["Year"] <2020)]

Historical_distance_df

     Year  count       mean        var       std      sum       sem
0    1900     54  12.635556  19.503301  4.416254   682.32  0.600976
1    1901     49  12.392041  20.331900  4.509091   607.21  0.644156
2    1902     54  13.041852  21.167634  4.600830   704.26  0.626094
3    1903     43  12.381628  21.796904  4.668716   532.41  0.711972
4    1904     50  13.610600  21.198945  4.604231   680.53  0.651137
..    ...    ...        ...        ...       ...      ...       ...
115  2015    569   9.066344  29.865328  5.464918  5158.75  0.229101
116  2016    749   8.595327  31.758841  5.635498  6437.90  0.205917
117  2017    876   8.481290  30.992925  5.567129  7429.61  0.188096
118  2018    891   8.319360  30.367530  5.510674  7412.55  0.184615
119  2019   1137   8.403421  30.669496  5.538005  9554.69  0.164238

[120 rows x 7 columns]

In [12]:
Summary_df.reset_index()

     Year Object CA Distance Nominal (LD)                                    \
            size                      sum       mean    max   min       std
0    1900     54                   682.32  12.635556  19.41  3.75  4.416254
1    1901     49                   607.21  12.392041  19.44  4.09  4.509091
2    1902     54                   704.26  13.041852  19.42  1.84  4.600830
3    1903     43                   532.41  12.381628  18.96  2.96  4.668716
4    1904     50                   680.53  13.610600  19.37  2.30  4.604231
..    ...    ...                      ...        ...    ...   ...       ...
296  2196     39                   444.03  11.385385  18.92  2.04  4.816215
297  2197     30                   373.33  12.444333  19.18  1.94  5.653097
298  2198     36                   424.24  11.784444  18.77  1.97  4.765526
299  2199     41                   517.71  12.627073  18.98  1.11  4.975735
300  2200     23                   288.26  12.533043  19.28  3.16  4.607173

              CA Distance Nominal (au)            ...  \
          sem                      sum      mean  ...
0    0.600976                  1.75319  0.032466  ...
1    0.644156                  1.56032  0.031843  ...
2    0.626094                  1.80965  0.033512  ...
3    0.711972                  1.36801  0.031814  ...
4    0.651137                  1.74864  0.034973  ...
..        ...                      ...       ...  ...
296  0.771212                  1.14089  0.029254  ...
297  1.032110                  0.95932  0.031977  ...
298  0.794254                  1.09006  0.030279  ...
299  0.777079                  1.33031  0.032447  ...
300  0.960662                  0.74073  0.032206  ...

    Estimated Diameter (min)                        Estimated Diameter (max)  \
                         min         std        sem                      sum
0                          5  131.551274  17.901861                    15435
1                          8  397.585149  56.797878                    25587
2                          5  142.525392  19.395249                    12681
3                          5  229.242880  34.959211                    14038
4                          6  166.845944  23.595580                    15168
..                       ...         ...        ...                      ...
296                       12  192.370439  30.803923                    15407
297                       11  255.131465  46.580419                    10269
298                       16  209.253109  34.875518                    15226
299                       15  286.100025  44.681317                    15165
300                       11  298.884130  62.321649                     9267

                                                  ObjectName
           mean   max min         std         sem       size
0    285.833333  1200  12  291.314182   39.642839         54
1    522.183673  5200  19  897.659194  128.237028         49
2    234.833333  1600  12  313.933940   42.720998         54
3    326.465116  2600  12  504.596177   76.950196         43
4    303.360000  1400  14  374.363719   52.943025         50
..          ...   ...  ..         ...         ...        ...
296  395.051282  1700  27  424.966869   68.049160         39
297  342.300000  3000  25  582.678663  106.382082         30
298  422.944444  1900  36  469.642049   78.273675         36
299  369.878049  3900  33  620.518138   96.908652         41
300  402.913043  3000  25  684.908548  142.813305         23

[301 rows x 57 columns]

In [13]:
# agg(regation)
Year_df = CleanTwoCenturies_df.groupby('Year').agg({'Object':'size'})
Year_df

      Object
Year
1900      54
1901      49
1902      54
1903      43
1904      50
...      ...
2196      39
2197      30
2198      36
2199      41
2200      23

[301 rows x 1 columns]

In [14]:
# Year_df = Year_df.reset_index()
Year_df
Year_df = Year_df.reset_index()
# 

x = Year_df['Year'].tolist()
y = Year_df['Object'].tolist()
y

[54,
 49,
 54,
 43,
 50,
 48,
 52,
 43,
 42,
 52,
 47,
 60,
 45,
 48,
 44,
 56,
 43,
 44,
 44,
 61,
 52,
 34,
 52,
 52,
 48,
 60,
 62,
 62,
 56,
 57,
 80,
 57,
 63,
 49,
 61,
 71,
 54,
 57,
 55,
 61,
 64,
 81,
 62,
 63,
 59,
 73,
 76,
 68,
 76,
 76,
 72,
 74,
 64,
 74,
 63,
 73,
 71,
 66,
 78,
 62,
 58,
 72,
 69,
 68,
 69,
 76,
 72,
 79,
 61,
 64,
 63,
 81,
 62,
 69,
 69,
 85,
 70,
 75,
 75,
 61,
 85,
 68,
 75,
 70,
 67,
 63,
 67,
 57,
 63,
 56,
 57,
 72,
 71,
 58,
 73,
 75,
 58,
 67,
 77,
 85,
 101,
 114,
 143,
 146,
 209,
 221,
 234,
 250,
 317,
 339,
 342,
 317,
 395,
 381,
 541,
 569,
 749,
 876,
 891,
 1137,
 732,
 98,
 76,
 90,
 64,
 69,
 56,
 63,
 63,
 82,
 66,
 56,
 68,
 52,
 69,
 49,
 70,
 49,
 81,
 67,
 55,
 56,
 72,
 74,
 50,
 55,
 62,
 68,
 71,
 69,
 61,
 86,
 85,
 70,
 76,
 68,
 66,
 93,
 69,
 86,
 73,
 86,
 82,
 60,
 71,
 71,
 79,
 76,
 69,
 63,
 71,
 78,
 68,
 75,
 71,
 63,
 76,
 62,
 48,
 85,
 76,
 73,
 62,
 58,
 56,
 66,
 78,
 63,
 70,
 77,
 67,
 65,
 61,
 54,
 59,
 73,
 65,
 60,
 49,
 66,
 60,
 43,
 63,
 68,
 59,
 56,
 62,
 59,
 46,
 54,
 51,
 48,
 59,
 54,
 59,
 52,
 48,
 43,
 48,
 58,
 57,
 51,
 47,
 44,
 37,
 42,
 35,
 55,
 54,
 51,
 45,
 41,
 55,
 52,
 47,
 52,
 36,
 43,
 43,
 36,
 38,
 42,
 36,
 36,
 47,
 45,
 45,
 61,
 48,
 43,
 41,
 37,
 34,
 41,
 31,
 43,
 33,
 30,
 33,
 44,
 30,
 35,
 43,
 38,
 30,
 36,
 44,
 46,
 34,
 44,
 22,
 31,
 35,
 39,
 49,
 34,
 35,
 35,
 35,
 40,
 30,
 32,
 34,
 41,
 35,
 34,
 41,
 37,
 26,
 33,
 35,
 34,
 35,
 25,
 45,
 34,
 39,
 30,
 36,
 41,
 23]

In [ ]:
Year_df

In [87]:
%matplotlib widget


# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

# Set x axis and tick locations
x_axis = np.arange(len(Year_df))
tick_locations = [value for value in x_axis]
tick_locations2 = np.arange(1900, 2210, step=10)
yrs = 1900 + x_axis
yrs
tick_locations2
# plt.scatter(Weights, yrs, marker="o")

# Create a list indicating where to write x labels and set figure size to adjust for space
plt.figure(figsize=(14,5))
plt.bar(x, y, color='r', alpha=0.5, align="center")
# plt.scatter(x, y, color='r', alpha=0.5)
plt.plot(x, y, color='r', alpha=0.5)

plt.xticks(tick_locations2, tick_locations2, color='midnightblue', rotation="vertical")
plt.yticks(color='midnightblue')
plt.plot(x, yrs, color="blue")

# Set x and y limits
plt.xlim(1900, 2200)
plt.ylim(0, 1300)

# Set a Title and labels
plt.title("Asteroid Count vs Year", color='midnightblue')
plt.xlabel("Year", color='midnightblue')
plt.ylabel("Asteroid Count", color='midnightblue')
plt.tight_layout()
plt.savefig('1900-_2200.png', bbox_inches='tight')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [27]:
# CleanTwoCenturies_df['<150'] = (CleanTwoCenturies_df['Estimated Diameter (min)'] <150)
# CleanTwoCenturies_df['>1000'] = (CleanTwoCenturies_df['Estimated Diameter (min)'] >1000)
# CleanTwoCenturies_df['150-1km'] = (CleanTwoCenturies_df['Estimated Diameter (min)'] >150) & (CleanTwoCenturies_df['Estimated Diameter (min)'] <=1000)
CleanTwoCenturies_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName,Year,Month,Day
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352,1900,1,4
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C,1900,1,11
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660,1900,1,29
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W,1900,2,4
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.40,0.01644,4.27,4.23,25.1,25,57,bK09B02W,1900,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24980,(2019 WT1),2200-Nov-21 01:44 ± 4_04:29,2200-11-21,01:44,9.60,0.02466,6.81,0.01749,9.08,9.06,26.9,11,25,bK19W01T,2200,11,21
24981,413577 (2005 UL5),2200-Nov-23 02:16 ± 00:05,2200-11-23,02:16,5.84,0.01499,5.78,0.01486,18.16,18.15,20.3,230,520,a0413577,2200,11,23
24982,(2014 WT202),2200-Nov-23 03:36 ± 00:04,2200-11-23,03:36,16.33,0.04197,16.23,0.04170,12.00,11.99,21.1,160,360,bK14WK2T,2200,11,23
24983,163696 (2003 EB50),2200-Nov-26 06:30 ± < 00:01,2200-11-26,06:30,18.07,0.04643,18.07,0.04643,21.34,21.34,16.5,1300,3000,a0163696,2200,11,26
24984,(2018 LM2),2200-Nov-29 17:17 ± 8_23:04,2200-11-29,17:17,14.43,0.03708,12.59,0.03236,7.91,7.90,24.4,35,78,bK18L02M,2200,11,29

In [49]:
Historical_df = CleanTwoCenturies_df.loc[(CleanTwoCenturies_df["Year"] <2020)]
# CleanTwoCenturies_df['Year'] <2020
Historical_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName,Year,Month,Day
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352,1900,1,4
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C,1900,1,11
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660,1900,1,29
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W,1900,2,4
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.40,0.01644,4.27,4.23,25.1,25,57,bK09B02W,1900,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14562,(2019 YR3),2019-Dec-30 17:39 ± < 00:01,2019-12-30,17:39,3.90,0.01003,3.89,0.01000,26.11,26.10,24.5,33,75,bK19Y03R,2019,12,30
14563,(2019 YL3),2019-Dec-30 18:39 ± < 00:01,2019-12-30,18:39,1.74,0.00446,1.74,0.00446,10.04,9.98,27.7,7,17,bK19Y03L,2019,12,30
14564,(2019 YS3),2019-Dec-30 19:57 ± < 00:01,2019-12-30,19:57,11.43,0.02936,11.40,0.02930,6.96,6.95,24.7,31,68,bK19Y03S,2019,12,30
14565,(2020 AA2),2019-Dec-31 01:32 ± 00:36,2019-12-31,01:32,4.28,0.01099,4.22,0.01084,9.71,9.69,27.0,11,24,bK20A02A,2019,12,31
14566,(2019 WR4),2019-Dec-31 05:06 ± < 00:01,2019-12-31,05:06,11.69,0.03004,11.68,0.03002,4.24,4.22,26.1,16,36,bK19W04R,2019,12,31

In [29]:
Historical_df = Year_df.loc[(Year_df["Year"] <2019)]
Future_df = Year_df.loc[(Year_df["Year"] >2019)]
Before2000_df = Year_df.loc[(Year_df["Year"] <2000)]
Spike20Years_df = Historical_df.loc[(Historical_df["Year"] >2000)]
Historical_df
# Spike20Years_df
# Before2000_df
# Future_df

     Year  Object
0    1900      54
1    1901      49
2    1902      54
3    1903      43
4    1904      50
..    ...     ...
114  2014     541
115  2015     569
116  2016     749
117  2017     876
118  2018     891

[119 rows x 2 columns]

In [30]:

Future_df = Future_df.reset_index()
Before2000_df = Before2000_df.reset_index()
Spike20Years_df = Spike20Years_df.reset_index()
Future_df
Before2000_df
# Spike20Years_df

    index  Year  Object
0       0  1900      54
1       1  1901      49
2       2  1902      54
3       3  1903      43
4       4  1904      50
..    ...   ...     ...
95     95  1995      75
96     96  1996      58
97     97  1997      67
98     98  1998      77
99     99  1999      85

[100 rows x 3 columns]

In [31]:
Historical_distance_df = Distance_df.loc[(Year_df["Year"] <2020)]
Historical_MinDiameter_df = MinDiameter_df.loc[(Year_df["Year"] <2020)]
Historical_Vrelative_df = Vrelative_df.loc[(Year_df["Year"] <2020)]
Historical_Vinfinity_df = Vinfinity_df.loc[(Year_df["Year"] <2020)]

Hist_Objects = CleanTwoCenturies_df.groupby("Object").size()
len(Hist_Objects)

Historical_distance_df

     Year  count       mean        var       std      sum       sem
0    1900     54  12.635556  19.503301  4.416254   682.32  0.600976
1    1901     49  12.392041  20.331900  4.509091   607.21  0.644156
2    1902     54  13.041852  21.167634  4.600830   704.26  0.626094
3    1903     43  12.381628  21.796904  4.668716   532.41  0.711972
4    1904     50  13.610600  21.198945  4.604231   680.53  0.651137
..    ...    ...        ...        ...       ...      ...       ...
115  2015    569   9.066344  29.865328  5.464918  5158.75  0.229101
116  2016    749   8.595327  31.758841  5.635498  6437.90  0.205917
117  2017    876   8.481290  30.992925  5.567129  7429.61  0.188096
118  2018    891   8.319360  30.367530  5.510674  7412.55  0.184615
119  2019   1137   8.403421  30.669496  5.538005  9554.69  0.164238

[120 rows x 7 columns]

In [38]:
y_H_dist = Historical_distance_df['mean']
y_H_diam = Historical_MinDiameter_df['mean']
y_H_Vrel = Historical_Vrelative_df['mean']
y_H_Vint = Historical_Vinfinity_df['mean']

x_Historical = Historical_distance_df['count']
x_Historical
y_H_diam
y_H_Vrel
y_H_Vint

0      11.623148
1      13.086939
2      10.857407
3      10.283721
4      10.317200
         ...
115    10.599930
116    10.674326
117    10.438242
118    10.415477
119    10.538953
Name: mean, Length: 120, dtype: float64

In [88]:
%matplotlib widget


# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

# Set x axis and tick locations
x_axis = np.arange(len(x_Historical))
tick_locations = [value for value in x_axis]
tick_locations2 = np.arange(1900, 2020, step=10)
yrs = 1900 + x_axis
yrs
tick_locations2
# plt.scatter(Weights, yrs, marker="o")


# Share a Y axis with each row of subplots
fig, (ax1, ax2, ax3, ax4) = plt.subplots(4, 1, sharex='all', figsize=(14,14))

# # Create a list indicating where to write x labels and set figure size to adjust for space
# plt.figure(figsize=(14,5))
# # plt.bar(x, y, color='r', alpha=0.5, align="center")
# # plt.scatter(x, y, color='r', alpha=0.5)
ax1.plot(yrs, x_Historical, color='r', alpha=0.5)
ax2.plot(yrs, y_H_diam, color='b', alpha=0.5)
ax3.plot(yrs, y_H_dist, color='black', alpha=0.5)


l1=ax4.plot(yrs, SizeSmall_df, color='black', alpha=0.5)
l2=ax4.plot(yrs, SizeMed_df, color='red', alpha=0.5)

# ax4.plot(yrs, SizeLarge_df, color='blue', alpha=0.5)

# SizeSmall_df
# SizeMed_df
# SizeLarge_df

# ax4.plot(yrs, y_H_dist, color='black', alpha=0.5)

# ax1.axis.yticks(color='white')

plt.xticks(tick_locations2, tick_locations2, color='white', rotation="vertical")
# plt.yticks(color='white')
# axes.set_yticks(ticks, minor=False)
# plt.plot(x, yrs, color="blue")
ax1.tick_params(labelcolor='midnightblue')
ax2.tick_params(labelcolor='midnightblue')
ax3.tick_params(labelcolor='midnightblue')
ax4.tick_params(labelcolor='midnightblue')

# # Set x and y limits
# plt.xlim(1900, 2200)
# plt.ylim(0, 1300)
ax1.set_axis_on

# # Set a Title and labels

plt.xlabel("Year", color='midnightblue')
# plt.ylabel("Asteroid Count", color='white')
ax1.set_ylabel("Asteroid Count", color='midnightblue')
ax2.set_ylabel("Average Minimum Diameter(m)", color='midnightblue')
ax3.set_ylabel("Average CA Distance Nominal (LD)", color='midnightblue')
ax4.set_ylabel("Asteroid Count", color='midnightblue')

ax1.set_title("Asteroid Count", color='midnightblue')
ax2.set_title("Average Minimum Diameter(m)", color='midnightblue')
ax3.set_title("Average CA Distance Nominal (LD)", color='midnightblue')
ax4.set_title("Small(<150m) and Larger (>150m) Asteroid Count", color='midnightblue')

ax4.legend(["Small Asteroid (<150m)","Large Asteroid(>150m)"],loc="upper left")

# ax4.legend()#(loc="upper left")
# 

# ax1.set_yticks()
# ax1.set_yticks()
# ax1.set_yticklabels(('Static', 'Dynamic'))

plt.tight_layout()
# yrs
# tick_locations2

fig.savefig('AsteroidComparison.png', bbox_inches='tight')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [50]:
Historical_df

,Object,Close-Approach (CA) Date,Date,Time,CA Distance Nominal (LD),CA Distance Nominal (au),CA Distance Minimum (LD),CA Distance Minimum (au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter (min),Estimated Diameter (max),ObjectName,Year,Month,Day
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,1900-01-04,22:25,3.75,0.00963,3.75,0.00962,8.69,8.65,20.1,250,570,a0509352,1900,1,4
1,(2014 SC324),1900-Jan-11 01:03 ± 00:17,1900-01-11,01:03,15.55,0.03995,15.52,0.03989,10.65,10.65,24.3,37,82,bK14SW4C,1900,1,11
2,4660 Nereus (1982 DB),1900-Jan-29 18:34 ± 00:14,1900-01-29,18:34,8.09,0.02078,8.08,0.02076,5.55,5.52,18.4,560,1200,a0004660,1900,1,29
3,(2015 RW83),1900-Feb-04 02:31 ± 22:21,1900-02-04,02:31,12.63,0.03245,12.46,0.03201,3.13,3.11,24.1,40,90,bK15R83W,1900,2,4
4,(2009 BW2),1900-Feb-04 11:05 ± 2_20:19,1900-02-04,11:05,6.86,0.01763,6.40,0.01644,4.27,4.23,25.1,25,57,bK09B02W,1900,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14562,(2019 YR3),2019-Dec-30 17:39 ± < 00:01,2019-12-30,17:39,3.90,0.01003,3.89,0.01000,26.11,26.10,24.5,33,75,bK19Y03R,2019,12,30
14563,(2019 YL3),2019-Dec-30 18:39 ± < 00:01,2019-12-30,18:39,1.74,0.00446,1.74,0.00446,10.04,9.98,27.7,7,17,bK19Y03L,2019,12,30
14564,(2019 YS3),2019-Dec-30 19:57 ± < 00:01,2019-12-30,19:57,11.43,0.02936,11.40,0.02930,6.96,6.95,24.7,31,68,bK19Y03S,2019,12,30
14565,(2020 AA2),2019-Dec-31 01:32 ± 00:36,2019-12-31,01:32,4.28,0.01099,4.22,0.01084,9.71,9.69,27.0,11,24,bK20A02A,2019,12,31
14566,(2019 WR4),2019-Dec-31 05:06 ± < 00:01,2019-12-31,05:06,11.69,0.03004,11.68,0.03002,4.24,4.22,26.1,16,36,bK19W04R,2019,12,31

In [57]:
SizeSmall_df = Historical_df[Historical_df['Estimated Diameter (min)'] <= 150].groupby('Year')['Year'].size()
SizeMed_df = Historical_df[Historical_df['Estimated Diameter (min)'].between(150,1000)].groupby('Year')['Year'].size()
SizeLarge_df = Historical_df[Historical_df['Estimated Diameter (min)'] >= 1000].groupby('Year')['Year'].size()

# SizeSmall_df
# SizeMed_df
SizeLarge_df

Year
1901    2
1903    1
1910    1
1911    1
1912    1
1914    1
1916    2
1917    1
1918    2
1920    1
1930    1
1931    2
1933    1
1935    1
1937    1
1944    1
1945    3
1946    1
1947    1
1948    1
1949    2
1953    1
1954    1
1957    3
1959    1
1961    1
1963    2
1965    3
1966    2
1967    1
1968    1
1969    1
1971    1
1973    1
1974    1
1975    2
1981    1
1984    2
1989    3
1990    2
1992    1
1994    1
1995    1
1996    2
1997    1
1998    1
2000    1
2001    1
2004    1
2006    1
2007    1
2008    2
2009    1
2012    3
2014    1
2015    1
2016    1
2017    1
2019    1
Name: Year, dtype: int64

In [ ]:
rng = np.arange(50)
rnd = np.random.randint(0, 10, size=(3, rng.size))
yrs = 1950 + rng

fig, ax = plt.subplots(figsize=(5, 3))
ax.stackplot(yrs, rng + rnd, labels=['Eastasia', 'Eurasia', 'Oceania'])
ax.set_title('Combined debt growth over time', color='w')
ax.legend(loc='upper left')
ax.set_ylabel('Total debt', color='w')
ax.set_xlim(xmin=yrs[0], xmax=yrs[-1])
fig.tight_layout()
yrs

In [ ]:
Before2000_df.describe()

In [ ]:
Future_df.describe()

In [ ]:
Spike20Years_df.describe()

In [ ]:
graph = CountYear.plot(kind ="bar", size=(10,10))
# tight_layout()

In [ ]:
Historical_df

# agg(regation)
H_Summary_df = Historical_df.groupby('Year')\
\
.agg({
    'Object':'size',
    'CA Distance Nominal (LD)':['sum','mean','max','min','std', 'sem'],
    'CA Distance Nominal (au)':['sum','mean','max','min','std', 'sem'],
    'CA Distance Minimum (LD) ':['sum','mean','max','min','std', 'sem'],
    'CA Distance Minimum (au) ':['sum','mean','max','min','std', 'sem'],
    'V relative (km/s)':['sum','mean','max','min','std', 'sem'],
    'V infinity (km/s)':['sum','mean','max','min','std', 'sem'],
    'H (mag)':['sum','mean','max','min','std', 'sem'],
    'Estimated Diameter (min)':['sum','mean','max','min','std', 'sem'],
    'Estimated Diameter (max)':['sum','mean','max','min','std', 'sem'],
    'ObjectName':['size']    
})
H_Summary_df